<form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()" class="flex flex-col gap-6">
  <div>
    <label class="block mb-2 text-lg">Email</label>
    <input
      type="email"
      formControlName="email"
      placeholder="Enter your email"
      class="w-full p-3 rounded-xl border"
    />

    @if (forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.invalid) {
      <p class="text-red-600 mt-1">Please enter a valid email</p>
    }
  </div>
  <button
    type="submit"
    [disabled]="isLoading"
    class="bg-green-600 text-white py-3 rounded-xl disabled:opacity-50"
  >
    @if (isLoading) {
      Sending...
    } @else {
      Send Reset Code
    }
  </button>
</form>
