@import "tailwindcss";
@import "./styles/typography.css";

@import "flowbite/src/themes/default";
/* @plugin "flowbite/plugin";
@source "../node_modules/flowbite" */


@import "./styles/base.css";
@import "./styles/theme.css";
@import "./styles/toster.css"
